    ViewBag.Title = "Home Page";
}
<div class="text-center">
<h3>
    My Profile information is as following:
</h3>
<p>
    HomeTown = @ViewBag.HomeTown
</p><p>
    FirstName = @ViewBag.FirstName
</p>
<p>Expenses = @ViewBag.Expenses</p>
</div>      

<div class="btn">
    @Html.ActionLink("Go to Home", "Index")
</div>     
