@model IEnumerable<string>

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h3>Hello! User, Go to record your expenses with me.</h3>
    <br />
</div>

<table class="table">
    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
    }
</table>